[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.24.2"
opencv-python = "*"
matplotlib = "*"
jupyterlab = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
seaborn = "*"
scikit-learn = "*"
tqdm = "*"

[dev-packages]
jupyter = "*"
notebook = "*"
pandas = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
